/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    gap: 40px;
    background-color: #f5f7fa; /* Light background color */
    background-image: url("https://images.unsplash.com/photo-1578582805561-4abd22211b9e?q=80&w=1746&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover; /* Make the background image cover the entire element */
    background-position: center; /* Center the image in the element */
    background-attachment: fixed; /* Optional: fix the background image during scroll */
  }
  
  .admin-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  aside {
    width: 200px;
    float: left;
    border-right: 1px solid #ccc;
    height: 100vh;
  }
  
  .admin-pic {
    width: 50px;
    border-radius: 50%;
  }

  .tables-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside nav ul {
    list-style: none;
  }
  
  aside nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
  }
  
  main {
    margin-left: 200px;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin-right: auto;
  }
  
  input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: separate; /* For spacing between rows */
    border-spacing: 0 10px; /* Spacing between rows */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
  }
  table caption {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  table thead {
    background-color: #f9f9f9;
  }
  
  table th,
  table td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  a {
    color: #06c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Modal base style */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px
}

.events-div {
  display: flex;
  justify-content: space-between;  
}