<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Service Provider</title>
</head>
<body>
    <h1>Add a New Service Provider</h1>
    <form method="post">
        Organization: <input type="text" name="organization"><br>
        Contact Person: <input type="text" name="contactPerson"><br>
        Email: <input type="email" name="email"><br>
        Phone: <input type="text" name="phone"><br>
        Date of Start: <input type="date" name="dateOfStart"><br>
        <input type="submit" value="Add Service Provider">
    </form>
</body>
</html>
